.title{
  display:inline-block;
  margin-right:0%;
}
.main-container{
  border:2px solid green;
  margin-top: 30px;
}
p{
  font-size:20px;
  margin-left:10px;
  color:grey
}
h1{
  border:2px solid red;

}
.card{
  background-color: cornflowerblue;
  margin:10px 10%;
}
.child-container-2{
  display:flex;
  flex-direction:row;

}
.card2{
  margin:10px 10%;
}
.sunrise{
  display:inline-block;
align-items: start;
justify-content: right;
margin-left:5%;
margin-top:5%;


}
.moonrise{

align-items:end;
justify-content: right;
margin-left:10%;
margin-top:5%;
}
.sunrise-moonrise-container{
  display:flex;
  flex-direction:row;
  border:2px solid violet
}
.temperature-container{

  display:flex;
  flex-direction:row;
  border:2px solid violet
}
span{
  font-weight: bold;
  font-size:xx-large;
}
